.card {
  display: flex;
  flex-direction: column;
  background-color: var(--ds-color-surface-primary);
  border: 1px solid var(--ds-color-border-secondary);
  border-radius: var(--ds-radius-5);
  overflow: hidden;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
  gap: var(--ds-spacing-3);
  padding: var(--ds-spacing-4) var(--ds-spacing-7);
}

.title {
  color: var(--ds-color-text-primary);
}

.description {
  color: var(--ds-color-text-secondary);
  margin-top: var(--ds-spacing-3);
}

.action {
  grid-column: 2;
  grid-row: 1 / -1;
  align-self: start;
  justify-self: end;
}

.content {
  padding: var(--ds-spacing-7);
}

.footer {
  display: flex;
  align-items: center;
  gap: var(--ds-spacing-7);
  padding: var(--ds-spacing-4) var(--ds-spacing-7);
  border-top: 1px solid var(--ds-color-border-secondary);
  background-color: var(--ds-color-surface-secondary);
}

.sizeSm .header {
  padding: var(--ds-spacing-3) var(--ds-spacing-5);
}

.sizeSm .content {
  padding: var(--ds-spacing-5);
}

.sizeSm .footer {
  padding: var(--ds-spacing-3) var(--ds-spacing-5);
}
